:root {
    --primary-color: #1C2225;
    --secondary-color: #FCF9F9;
    --accent-color: #ECD979;
    --text-gray-color: rgba(252, 249, 249, 0.40);
}

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

p:last-child {
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

.container {
    min-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.order-background-container {
    height: 550px;
    background-image: url(../images/order-background-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.order-container {
    background-color: var(--primary-color, #1C2225);
    padding-top: 80px;
    padding-bottom: 80px;
}

.order-title {
    color: var(--white, #FCF9F9);
    font-family: Manrope;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -0.96px;
}

.order-title-changed {
    color: var(--white, #ECD979);
}

.order-form {
    padding-top: 40px;
    padding-bottom: 40px;
}

.order-form-item {
    background-color: var(--primary-color, #1C2225);
    outline: none;
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.10);
    color: var(--secondary-color, #FCF9F9);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.02em;
    width: 100%;
    padding: 14px 16px;
    margin-bottom: 20px;

}

::placeholder {
    color: rgba(252, 249, 249, 0.50);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.28px;
}

.order-textarea-commit {
    background-color: var(--primary-color, #1C2225);
    outline: none;
    border-radius: 8px;
    border: 1px solid rgba(252, 249, 249, 0.10);
    color: var(--white, #FCF9F9);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.32px;
    padding: 14px 16px;
    width: 100%;
    height: 196px;
    resize: none;
}

.order-btn {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 36px;
    min-width: 145px;
    height: 49px;
    border-radius: 15px;
    display: block;
    border: 1px solid rgba(252, 249, 249, 0.10);
    background-color: var(--primary-color, #1C2225);
    color: var(--white, #FCF9F9);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.56px;
    text-transform: uppercase;
    margin: 0 auto;
}

.order-form-item {}

/* @media screen and (min-width: 375px) {
    .container {
        width: 375px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 704px;
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media screen and (min-width: 1080px) {
    .container {
        width: 1080px;
        padding-left: 100px;
        padding-right: 100px;
    }
} */